<div class="popup">
  <div class="navi2">
    <%= link_to(image_tag("mobile/exit.png", id:"exit"), mobile_index_path) %>
  </div>
  <div class="content not_yet_content">
     <%= image_tag("mobile/contetn_notyet.png", class:"popup_title2") %>
  </div>
</div>
