         <div id="second_week_winner" class="weekly_winner_list">
			     <ul>
             <li class="clearfix"><span class="name">권지*</span><span>218*</span></li>
             <li class="clearfix"><span class="name">이설*</span><span>888*</span></li>
             <li class="clearfix"><span class="name">장은*</span><span>782*</span></li>
             <li class="clearfix"><span class="name">권새**</span><span>600*</span></li>
             <li class="clearfix"><span class="name">최유*</span><span>765*</span></li>
             
             <li class="clearfix"><span class="name">이아*</span><span>122*</span></li>
             <li class="clearfix"><span class="name">김혜*</span><span>656*</span></li>
             <li class="clearfix"><span class="name">김효*</span><span>186*</span></li>
             <li class="clearfix"><span class="name">신수*</span><span>525*</span></li>
             <li class="clearfix"><span class="name">박소*</span><span>196*</span></li>
             
             <li class="clearfix"><span class="name">김시*</span><span>345*</span></li>
             <li class="clearfix"><span class="name">임주*</span><span>337*</span></li>
             <li class="clearfix"><span class="name">최고*</span><span>355*</span></li>
             <li class="clearfix"><span class="name">최지*</span><span>852*</span></li>
             <li class="clearfix"><span class="name">심유*</span><span>335*</span></li>
             
             <li class="clearfix"><span class="name">노*</span><span>863*</span></li>
             <li class="clearfix"><span class="name">최정*</span><span>757*</span></li>
             <li class="clearfix"><span class="name">노미*</span><span>631*</span></li>
             <li class="clearfix"><span class="name">이가*</span><span>845*</span></li>
             <li class="clearfix"><span class="name">박빛*</span><span>073*</span></li>
             
             <li class="clearfix"><span class="name">최진*</span><span>183*</span></li>
             <li class="clearfix"><span class="name">이윤*</span><span>441*</span></li>
             <li class="clearfix"><span class="name">강학*</span><span>128*</span></li>
             <li class="clearfix"><span class="name">서하*</span><span>877*</span></li>
             <li class="clearfix"><span class="name">원정*</span><span>066*</span></li>
             
     		
             <li class="clearfix"><span class="name">채주*</span><span>654*</span></li>
             <li class="clearfix"><span class="name">정유*</span><span>681*</span></li>
             <li class="clearfix"><span class="name">김유*</span><span>011*</span></li>
             <li class="clearfix"><span class="name">이아*</span><span>533*</span></li>
             <li class="clearfix"><span class="name">양경*</span><span>022*</span></li>
             
             <li class="clearfix"><span class="name">김수*</span><span>020*</span></li>
             <li class="clearfix"><span class="name">연다*</span><span>566*</span></li>
             <li class="clearfix"><span class="name">최현*</span><span>828*</span></li>
             <li class="clearfix"><span class="name">신*</span><span>303*</span></li>
             <li class="clearfix"><span class="name">조정*</span><span>019*</span></li>
             
             <li class="clearfix"><span class="name">장혜*</span><span>527*</span></li>
             <li class="clearfix"><span class="name">박지*</span><span>702*</span></li>
             <li class="clearfix"><span class="name">천승*</span><span>501*</span></li>
             <li class="clearfix"><span class="name">정예*</span><span>321*</span></li>
             <li class="clearfix"><span class="name">김태*</span><span>532*</span></li>
             
      				</ul>
        
      				<ul>
				
             
             <li class="clearfix"><span class="name">류슬*</span><span>562*</span></li>
             <li class="clearfix"><span class="name">이주*</span><span>838*</span></li>
             <li class="clearfix"><span class="name">최선*</span><span>402*</span></li>
             <li class="clearfix"><span class="name">김수*</span><span>444*</span></li>
             <li class="clearfix"><span class="name">김문*</span><span>083*</span></li>
             
             <li class="clearfix"><span class="name">이두*</span><span>185*</span></li>
             <li class="clearfix"><span class="name">백현*</span><span>084*</span></li>
             <li class="clearfix"><span class="name">이찬*</span><span>724*</span></li>
             <li class="clearfix"><span class="name">정혜*</span><span>103*</span></li>
             <li class="clearfix"><span class="name">송현*</span><span>167*</span></li>
     				
				
             
             <li class="clearfix"><span class="name">송하*</span><span>073*</span></li>
             <li class="clearfix"><span class="name">고승*</span><span>926*</span></li>
             <li class="clearfix"><span class="name">윤선*</span><span>559*</span></li>
             <li class="clearfix"><span class="name">김지*</span><span>640*</span></li>
             <li class="clearfix"><span class="name">정보*</span><span>723*</span></li>
             
             <li class="clearfix"><span class="name">이설*</span><span>134*</span></li>
             <li class="clearfix"><span class="name">이지*</span><span>983*</span></li>
             <li class="clearfix"><span class="name">허가*</span><span>142*</span></li>
             <li class="clearfix"><span class="name">박미*</span><span>532*</span></li>
             <li class="clearfix"><span class="name">현명*</span><span>019*</span></li>
             
             <li class="clearfix"><span class="name">채수*</span><span>792*</span></li>
             <li class="clearfix"><span class="name">강동*</span><span>404*</span></li>
             <li class="clearfix"><span class="name">이우*</span><span>045*</span></li>
             <li class="clearfix"><span class="name">김유*</span><span>071*</span></li>
             <li class="clearfix"><span class="name">신미*</span><span>720*</span></li>
             
             <li class="clearfix"><span class="name">이지*</span><span>458*</span></li>
             <li class="clearfix"><span class="name">정우*</span><span>080*</span></li>
             <li class="clearfix"><span class="name">신양*</span><span>764*</span></li>
             <li class="clearfix"><span class="name">김다*</span><span>047*</span></li>
             <li class="clearfix"><span class="name">고은*</span><span>101*</span></li>
             
             <li class="clearfix"><span class="name">이다*</span><span>032*</span></li>
             <li class="clearfix"><span class="name">김수*</span><span>967*</span></li>
             <li class="clearfix"><span class="name">김관*</span><span>403*</span></li>
             <li class="clearfix"><span class="name">신유*</span><span>354*</span></li>
             <li class="clearfix"><span class="name">이채*</span><span>280*</span></li>
     				
             
             <li class="clearfix"><span class="name">조주*</span><span>228*</span></li>
             <li class="clearfix"><span class="name">김현*</span><span>040*</span></li>
             <li class="clearfix"><span class="name">김단*</span><span>826*</span></li>
             <li class="clearfix"><span class="name">정주*</span><span>532*</span></li>
             <li class="clearfix"><span class="name">박하*</span><span>403*</span></li>
     				</ul>
        
     				<ul>
				
             
             <li class="clearfix"><span class="name">양재*</span><span>303*</span></li>
             <li class="clearfix"><span class="name">성지*</span><span>842*</span></li>
             <li class="clearfix"><span class="name">백소*</span><span>321*</span></li>
             <li class="clearfix"><span class="name">강복*</span><span>363*</span></li>
             <li class="clearfix"><span class="name">송다*</span><span>167*</span></li>
             
             <li class="clearfix"><span class="name">추동*</span><span>703*</span></li>
             <li class="clearfix"><span class="name">박서*</span><span>941*</span></li>
             <li class="clearfix"><span class="name">손성*</span><span>316*</span></li>
             <li class="clearfix"><span class="name">노동*</span><span>112*</span></li>
             <li class="clearfix"><span class="name">김황*</span><span>201*</span></li>
             
             <li class="clearfix"><span class="name">박소*</span><span>810*</span></li>
             <li class="clearfix"><span class="name">이예*</span><span>853*</span></li>
             <li class="clearfix"><span class="name">이진*</span><span>098*</span></li>
             <li class="clearfix"><span class="name">최수*</span><span>700*</span></li>
             <li class="clearfix"><span class="name">윤동*</span><span>356*</span></li>
             
             <li class="clearfix"><span class="name">윤지*</span><span>049*</span></li>
             <li class="clearfix"><span class="name">이여*</span><span>600*</span></li>
             <li class="clearfix"><span class="name">김선*</span><span>338*</span></li>
             <li class="clearfix"><span class="name">허수*</span><span>229*</span></li>
             <li class="clearfix"><span class="name">이아*</span><span>159*</span></li>
     			
				
             
             <li class="clearfix"><span class="name">김보*</span><span>115*</span></li>
             <li class="clearfix"><span class="name">유보*</span><span>399*</span></li>
             <li class="clearfix"><span class="name">박보*</span><span>504*</span></li>
             <li class="clearfix"><span class="name">차지*</span><span>358*</span></li>
             <li class="clearfix"><span class="name">김성*</span><span>422*</span></li>
             
             <li class="clearfix"><span class="name">정지*</span><span>990*</span></li>
             <li class="clearfix"><span class="name">송민*</span><span>756*</span></li>
             <li class="clearfix"><span class="name">이유*</span><span>600*</span></li>
             <li class="clearfix"><span class="name">조은*</span><span>958*</span></li>
             <li class="clearfix"><span class="name">강효*</span><span>075*</span></li>
             
             <li class="clearfix"><span class="name">정해*</span><span>103*</span></li>
             <li class="clearfix"><span class="name">김미*</span><span>002*</span></li>
             <li class="clearfix"><span class="name">김민*</span><span>042*</span></li>
             <li class="clearfix"><span class="name">김청*</span><span>800*</span></li>
             <li class="clearfix"><span class="name">오지*</span><span>420*</span></li>
             
             <li class="clearfix"><span class="name">이혜*</span><span>535*</span></li>
             <li class="clearfix"><span class="name">임보*</span><span>308*</span></li>
             <li class="clearfix"><span class="name">하미*</span><span>202*</span></li>
             <li class="clearfix"><span class="name">김강*</span><span>519*</span></li>
             <li class="clearfix"><span class="name">문쥬*</span><span>094*</span></li>
             
      				</ul>
        
      				<ul>
				
             
             <li class="clearfix"><span class="name">김지*</span><span>092*</span></li>
             <li class="clearfix"><span class="name">조은*</span><span>347*</span></li>
             <li class="clearfix"><span class="name">장현*</span><span>112*</span></li>
             <li class="clearfix"><span class="name">김한*</span><span>042*</span></li>
             <li class="clearfix"><span class="name">서효*</span><span>240*</span></li>
     		
             
             <li class="clearfix"><span class="name">최세*</span><span>050*</span></li>
             <li class="clearfix"><span class="name">공미*</span><span>679*</span></li>
             <li class="clearfix"><span class="name">양주*</span><span>744*</span></li>
             <li class="clearfix"><span class="name">김두*</span><span>137*</span></li>
             <li class="clearfix"><span class="name">김랑*</span><span>500*</span></li>
             
             <li class="clearfix"><span class="name">구경*</span><span>973*</span></li>
             <li class="clearfix"><span class="name">김예*</span><span>190*</span></li>
             <li class="clearfix"><span class="name">우미*</span><span>012*</span></li>
             <li class="clearfix"><span class="name">임희*</span><span>902*</span></li>
             <li class="clearfix"><span class="name">김도*</span><span>571*</span></li>
             
             <li class="clearfix"><span class="name">김내*</span><span>594*</span></li>
             <li class="clearfix"><span class="name">김세*</span><span>845*</span></li>
             <li class="clearfix"><span class="name">유미*</span><span>089*</span></li>
             <li class="clearfix"><span class="name">박혜*</span><span>326*</span></li>
             <li class="clearfix"><span class="name">이경*</span><span>155*</span></li>
             
             <li class="clearfix"><span class="name">고은*</span><span>710*</span></li>
             <li class="clearfix"><span class="name">유다*</span><span>034*</span></li>
             <li class="clearfix"><span class="name">이예*</span><span>742*</span></li>
             <li class="clearfix"><span class="name">조하*</span><span>218*</span></li>
             <li class="clearfix"><span class="name">김원*</span><span>845*</span></li>
             
             <li class="clearfix"><span class="name">유*</span><span>021*</span></li>
             <li class="clearfix"><span class="name">김지*</span><span>298*</span></li>
             <li class="clearfix"><span class="name">김이*</span><span>234*</span></li>
             <li class="clearfix"><span class="name">조민*</span><span>537*</span></li>
             <li class="clearfix"><span class="name">노지*</span><span>702*</span></li>
	
             
           </ul>
		  </div>